<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="description" content="" />
        <title>Travel Records</title>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../static/css/styles.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <h2>slackカスタム絵文字、一気に作成ツール</h2>
        <form action="input_confirm" method="post">
            <table>
            <tr>
                <td>テキスト入力</td>
                <td><textarea name="emoji_text" rows="10" cols="40"></textarea></td>
            </tr>
            <!--
            <tr>
                <td>文字色を選んでください(この機能は未実装です)</td>
                <td>
                <input type="radio" name="emoji_text_color" value="random" checked> 7色ランダム
                <input type="radio" name="emoji_text_color" value="FF0000">赤色
                <input type="radio" name="emoji_text_color" value="FFDB00">黄色
                <input type="radio" name="emoji_text_color" value="49FF00">黄緑色
                <input type="radio" name="emoji_text_color" value="00FF92">緑色
                <input type="radio" name="emoji_text_color" value="0092FF">水色
                <input type="radio" name="emoji_text_color" value="4900FF">青色
                <input type="radio" name="emoji_text_color" value="FF00DB">桃色
                </td>
            </tr>
            -->
            </table>
            <input type="submit" value="カスタム絵文字を一気に作る！">
        </form>
    </body>
</html>
