<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="description" content="" />
        <title>input_test</title>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../static/css/styles.css" rel="stylesheet" />
    </head>
    <body id="page-top">
      <h2>カスタム絵文字を作成しました！</h2>
      <h2>画像をクリックするとダウンロードできます！</h2>
      <!--
      <table>
        <tr>
          <td>お名前：</td>
          <td>{{.EmojiText}}</td>
        </tr>
        <tr>
          <td>文字色：</td>
          <td>{{.EmojiTextColor}}</td>
        </tr>
      </table>
      -->
      <button type="button" onclick="history.back()">入力画面に戻る</button>

      <br>
      {{ range .EmojiURL }}
      <a href="../{{ . }}" download><img src="../{{ . }}" /></a>
      <br>
      {{ end }}

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
